.desktopNavbarWrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2100;
}

.mobileNavbarWrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 2000;
}

.mainContentPadding {
  padding-top: 88px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 88px 24px 64px;
}

.techIcon {
  margin-right: 12px;
}

.techImage {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.benefitIcon {
  flex-shrink: 0;
}
