
/* Skills section title */
.skillsTitle {

    color: #191d23;

}

/* Individual skill card */
.skillCard {
  
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(60, 80, 120, 0.06), 0 6px 20px rgba(60, 80, 120, 0.04);
   
}

/* Specific styles for UI & UX Designing card */
.uiuxCard {
    background-color: #ffffff;
    border: 2px solid #33a552;
}

/* Specific styles for Development card */
.developmentCard {
    background-color: #ffffff;
    border: 2px solid #f1792e;
}


/* Specific styles for Data Science & AI card */
.dataScienceCard {
    background-color: #ffffff;
    border: 2px solid #4573df;

}

/* Header styling */
.header {
   
    color: #191d23;
    
}

/* Container for skill name and progress bar */
.skillNameContainer {
   
    background-color: #ffffff;
   
}

.skillName {
    color: #23272f;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
    /* Adjustments for smaller screens */
    .skillFrame {
        justify-content: center; /* Center align skill cards */
    }
    
    .skillsTitle {
        padding-left: 3%; /* Adjust padding for smaller screens */
    }
}
